<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MyPetShop.DAL.Properties.Settings.MyPetShopConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\ASPNET\ExMyPetShop\MyPetShop.Web\App_Data\MyPetShop.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>