<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <connectionStrings> 
    <add name="ProMangement" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=33;User ID=sa;Password=sa;
    MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="_30ConnectionString" connectionString="Data Source=zj.database.windows.net;Initial Catalog=30;User ID=jjfly;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    <add name="_33ConnectionString" connectionString="Data Source=junzhon.database.windows.net;Initial Catalog=33;User ID=jjfly;Password=233123321q@;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>


</configuration>
